{
    admin off
    auto_https off
}

http://localhost

handle_path /api/* {
    reverse_proxy localhost:4040
}

handle_path /wall/* {
    reverse_proxy localhost:3100
}

reverse_proxy localhost:3000
